<!DOCTYPE html>
{% extends "dashboard/base.html" %}
    {% block body_block%}
<!--<meta http-equiv="refresh" content="1;">-->
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col">-->
		       <!--<div class="card" style="width: 17 rem;">-->
          <!--<div class="card-body">-->
            <!--<h5 class="card-title">Robot 1</h5>-->
            <!--<p class="card-text">Battery: {{ access_records.battery }}</p>-->
            <!--<p class="card-text">State: {{ access_records.state }}</p>-->
            <!--<p class="card-text">Model: {{ access_records.model }}</p>-->
            <!--<p class="card-text">Robot_name: {{ access_records.robot_name }}</p>-->
            <!--<p class="card-text">Velocity: {{ access_records.velocity_l }}</p>-->
            <!--<p class="card-text">Pos_X: {{ access_records.posx }}</p>-->
            <!--<p class="card-text">Pos_Y: {{ access_records.posy }}</p>-->
          <!--</div>-->
        <!--</div>-->
	<!--</div>-->
	<!--<div class="col">-->
		       <!--<div class="card" style="width: 17 rem;">-->
          <!--<div class="card-body">-->
            <!--<h5 class="card-title">Robot 2</h5>-->
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
          <!--</div>-->
        <!--</div>-->
	<!--</div>-->
	<!--<div class="col">-->
		       <!--<div class="card" style="width: 17 rem;">-->
          <!--<div class="card-body">-->
            <!--<h5 class="card-title">Robot 3</h5>-->
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
          <!--</div>-->
        <!--</div>-->
	<!--</div>-->
	<!--<div class="col">-->
        <!--<a href="{% url 'send_command' %}" class='btn btn-lg'>Button</a>-->
        <!--<a href="{% url 'send_command2' %}" class='btn btn-lg'>Button</a>-->
          <!--</div>-->
        <!--</div>-->
	<!--</div>-->
  <!--</div>-->
<!--</div>>-->
<!--</div>-->

    {% endblock %}